/**{
  border: 1px solid red !important;
}*/

.fslogo {
  height: 20px;
}

#bootstrap-overrides {
  font-family: 'Lato', sans-serif;
}

#bootstrap-overrides .navbar-custom {
  background-color: #3AEBEE;
}

#main-hero-section {
  background-image: linear-gradient(rgba(96, 96, 96, 0.9), rgba(96, 96, 96, 0.6)), url('../images/mountain-1-320.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-height: 85vh;
}

.slider-para {
  margin-top: 15px;
}

.hide {
  display: none;
}

.active {
  display: block;
}

#bootstrap-overrides a.lttreadmorebtn {
  color: #3AEBEE;
  cursor: pointer;
}

a.lttreadmorebtn:hover {
  border-bottom: 1px blue solid;
}

a.lttreadlessbtn {
  color: #3AEBEE !important;
  cursor: pointer;
}

a.lttreadlessbtn:hover {
  border-bottom: 1px blue solid;
}

a.gtcreadmorebtn {
  color: #3AEBEE !important;
  cursor: pointer;
}

a.gtcreadmorebtn:hover {
  border-bottom: 1px blue solid;
}

a.gtcreadlessbtn {
  color: #3AEBEE !important;
  cursor: pointer;
}

a.gtcreadlessbtn:hover {
  border-bottom: 1px blue solid;
}

a.mttreadmorebtn {
  color: #3AEBEE !important;
  cursor: pointer;
}

a.mttreadmorebtn:hover {
  border-bottom: 1px blue solid;
}

a.mttreadlessbtn {
  color: #3AEBEE !important;
  cursor: pointer;
}

a.mttreadlessbtn:hover {
  border-bottom: 1px blue solid;
}

#bootstrap-overrides .select-batch {
  border: lightgray 0.55px solid;
  /**-webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;*/
}

.main-banner {
  color: #3aebee;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  font-size: 0.5rem;
  display: inline-block;
}

#submit-button {
  color: #FFFFFF;
  margin-top: 1rem;
  background-color: #34D2D4;
  border: #34D2D4;
  box-shadow: 0 3px 0 0 #111111;
  border-radius: 24px;
  width: auto;
  min-width: 30vw;
  text-shadow: 1px 1px 1px #000;
}

#submit-button:hover {
  background-color: #3AEBEE;
}

#submit-button:active {
  background-color: lighten(#34D2D4, 50%);
  box-shadow: none;
  margin-bottom: -3px;
  margin-top: 3px;
}

.slider {
  margin-top: 1rem;
}

.img-slider {
  width: inherit;
  height: 40vh;
  display: block;
  margin-right: 15px;
  padding: 10px;
}

h1 {
  font-size: 2.4rem;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000;
}

.sub-head {
  font-size: 1.0625rem;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.main-head {
  margin-top: 10px;
}

.text-brand {
  font-size: 1rem;
}

.slider {
  margin-top: 10px;
}

#cfp-fe-btn {
  width: 80vw;
}

#cfp-fe-chevdown {
  padding-left: 10px;
}

#batch-select {
  font-size: 0.75rem;
  margin-top: 10px;
}

/*on mobile devices*/

@media (min-width: 544px) {
  h1 {
    font-size: 3.2rem;
  }
  .sub-head {
    font-size: 1.125rem;
  }
  .text-brand {
    font-size: 1rem;
    color: blue;
  }
  #submit-button {
    margin-top: 2rem;
    font-size: 1.5rem;
    width: auto;
    min-width: 30vw;
  }
  #main-hero-section {
    background-image: linear-gradient(rgba(96, 96, 96, 0.9), rgba(96, 96, 96, 0.6)), url('../images/mountain-1-960.jpg');
  }
}

/*on tablets*/

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  .sub-head {
    font-size: 1.2rem;
  }
  .text-brand {
    font-size: 1rem;
    color: orange;
  }
  #submit-button {
    margin-top: 2.5rem;
    font-size: 2rem;
    width: auto;
    min-width: 25vw;
  }
  #main-hero-section {
    background-image: linear-gradient(rgba(96, 96, 96, 0.9), rgba(96, 96, 96, 0.6)), url('../images/mountain-1-1280.jpg');
  }
}

/*on small dekstops and laptops*/

@media (min-width: 992px) {
  h1 {
    font-size: 4.8rem;
  }
  .sub-head {
    font-size: 1.25rem;
  }
  .text-brand {
    font-size: 1rem;
    color: green;
  }
  .main-banner {
    margin-top: 1rem;
  }
  #submit-button {
    margin-top: 2.5rem;
    font-size: 2rem;
    width: 25vw;
  }
  #main-hero-section {
    background-image: linear-gradient(rgba(96, 96, 96, 0.9), rgba(96, 96, 96, 0.6)), url('../images/mountain-1-1280.jpg');
  }
}

/* on large desktops*/

@media (min-width: 1200px) {
  h1 {
    font-size: 4.8rem;
  }
  .sub-head {
    font-size: 1.25rem;
  }
  .text-brand {
    font-size: 1.25rem;
    color: gray;
  }
  .main-banner {
    margin-top: 2rem;
  }
  #submit-button {
    margin-top: 6rem;
    font-size: 2rem;
    width: 20vw;
  }
  #main-hero-section {
    background-image: linear-gradient(rgba(96, 96, 96, 0.9), rgba(96, 96, 96, 0.6)), url('../images/mountain-1-1280.jpg');
    /*background-image: url('../images/technology-1-1200-800.jpg');*/
  }
}
